<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="Suite"> -->
<suite name="RegressionSuite" thread-count="1" parallel="tests" >
<listeners>
	<listener class-name="com.EFL.testbase.TestListener" />
	</listeners>
	
	
<test name="Buy AMC Flow from header" enabled="true">
 <parameter name="browser" value="chrome_linex"/>
 <classes>
 <class name="EFL_auto_testcase.BuyAMCFlow"/>
 </classes>
 </test>
 <test name="Buy AMC Flow from Home" enabled="true">
 <parameter name="browser" value="chrome_linex"/>
 <classes>
 <class name="EFL_auto_testcase.BuyAMCFlow_Home"/>
 </classes>
 </test>
 <test name="Buy AMC Flow Profile" enabled="true">
 <parameter name="browser" value="chrome_linex"/>
 <classes>
 <class name="EFL_auto_testcase.BuyAMCFlow_Profile"/>
 </classes>
 </test>	
 </suite>